.navbar-inverse{
    background: #f2f2f2;
    border: none;
    
    margin-bottom: 0;
}
.navbar-inverse .navbar-nav>li>a{
    font-family: Trebuchet MS;
    color: #777;
    font-size: 13px;
    padding: 5px 5px;
    text-shadow: none;
    max-width: 300px;
    text-align: left;
}

.navbar-inverse .navbar-nav>li>a:hover{
    color: #000000;
}

.navbar-inverse .navbar-nav>ul{
    text-align: left;
}
.titulo{
    background: #337AB7;
    height: 30px;
}

collapse .navbar-collapse{
    text-align: center;
}

.nombre{
    padding-top: 5px;
    color: #ffffff;
    background: #337AB7;    
    alignment-adjust: central;
    text-align: center;
    font-family: Trebuchet MS;
    font-size: 18px;
}

.imagen{
    
}

.imagen:hover{
    
    background-image: url(/ISODOC/imagenes/modulos2/hover.png);
}

.imgaenTitulo{
    float: left;
    
}

.botonMenuLateral{
  font-family: Trebuchet MS;
  color: #ffffff;
  font-size: 12px;
  background: #337AB7;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: solid #1f628d 0px;
  width: 100%;
}

.botonMenuLateral:hover{
  background: #999999;
  text-decoration: none;
  border: solid #1f628d 0px;
}

.list-group{
    margin: 0%;
}