.navbar-inverse{
    background: #f2f2f2;
    border: none;
    
    margin-bottom: 0;
}
.navbar-inverse .navbar-nav>li>a{
    font-family: Trebuchet MS;
    color: #777;
    font-size: 13px;
    padding: 5px 5px;
    text-shadow: none;
    max-width: 300px;
    text-align: left;
}

.navbar-inverse .navbar-nav>li>a:hover{
    color: #000000;
}

.navbar-inverse .navbar-nav>ul{
    text-align: left;
}
.titulo{
    background: #133468;////////////
    height: 30px;
}

collapse .navbar-collapse{
    text-align: center;
}

.nombre{
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
    background: #133468;    
    alignment-adjust: central;
    text-align: center;
    font-family: Trebuchet MS;
    font-size: 16px;
}

.imagen{
    
}

.imagen:hover{
    
    background-image: url(/ISODOC/imagenes/modulos2/hover.png);
}

.imgaenTitulo{
    float: left;
    
}

.detalles{
    padding-top: 3px;
    float: right;
    padding-left: 20px;
    font-family: Trebuchet MS;
}
.detalles2{
    padding-top: 4px;
    float: left;
    padding-left: 20px;
    font-family: Trebuchet MS;
}

.cerrar{
    padding-top: 3px;
    float: right;
    text-decoration-color: #FFF;
    padding-right: 20px;
    font-family: Trebuchet MS;
}

.botonMenuLateral{
    font-family: Trebuchet MS;
    color: #ffffff;
    font-size: 13px;    
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    text-align: left;
    border: solid #1f628d 0px;
    width: 100%;  
    background: #133468;  
}

.botonMenuLateral:hover{
  background: #999999;
  text-decoration: none;
  border: solid #1f628d 0px;
}

.list-group{
    margin: 0%;
}