@charset "utf-8";



.h1 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #FFF;
	text-decoration: none;
	}
body {
	margin: auto;
	width: 1280px;
        padding: 0px;
}



#Contenedor {
	float: left;
	width: 1280px;
	height: 750px;
	margin: auto;
	/*border-right-width: thin;
	border-left-width: thin;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCC;
	border-left-color: #CCC;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #CCC;*/
}

#Cabezote {
	float: left;
	height: 150px;
	width: 100%;
}


#Logo {
	float: left;
	height: 73px;
	width: 245px;
	margin-left: 174px;
	background-image: url(../imagenes/index.png);
}
#Acceso {
        height: 138px;
	width: 310px;
	margin-left: 700px;
	position: absolute;
        padding: 20px;
	z-index: auto;
	background-image: url(../imagenes/Acceso.png);
        background-repeat: no-repeat;
        font-family: Trebuchet, Verdana, Sans serif;
        font-size: 11px;
        color: #333;
}
#TituloAcceso{
        text-align: center;
        clear: both;
        color: #333;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 11px;
}
#CuerpoAcceso input{
    font-size: 11px;
    border: solid 1px #CCC;
    margin: 4px;
}

#TextoLogo {
	float: left;
	height: 50px;
	width: 147px;
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #FFF;
	margin-top: 10px;
	padding-left: 10px;
}


#FranjaAzul {
	background-color: #0071bc!important;
	float: left!important;
	height: 82px!important;
	width: 100%!important;
	margin-top: 31px!important;
}

#FranjaBlanca {
	float: left;
	height: 4px;
	width: 100%;
	background-color: #FFF;
}
#FranjaAzulObscuro {
	background-color: #07387f;
	float: left;
	height: 4px;
	width: 100%;
}


#Slide {
	float: left;
	height: 420px;
	width: 100%;
	margin-top: 37px;
}
#Footer {
	float: left;
	height: 150px;
	width: 100%;
}


#FooterAzul {
	float: left;
	height: 70px;
	width: 100%;
	background-color: #07387f;
	margin-top: 41px;
}

#FooterBlanco {
	float: left;
	height: 4px;
	width: 100%;
	background-color: #FFF;
	margin-top: 64px;
}
#FooterAzulObscro {
	background-color: #0071bc;
	float: left;
	height: 4px;
	width: 100%;
}
#FooterDatos {
	height: 150px;
	width: 946px;
	margin-left: 160px;
	position: absolute;
	z-index: auto;
	background-image: url(../imagenes/footer.png);
}
/* General Demo Style */

a{
	color: #555;
	text-decoration: none;
}
.container{
	width: 1279px;
	position: relative;
}
.clr{
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}
.container > header{
	margin: 10px;
	padding: 20px 10px 10px 10px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}
.container > header h1{
	font-size: 40px;
	line-height: 40px;
	margin: 0;
	position: relative;
	font-weight: 300;
	color: #707a8d;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}
.container > header h1 span{
	font-weight: 700;
}
.container > header h2{
	font-size: 14px;
	font-weight: 300;
	margin: 0;
	padding: 15px 0 5px 0;
	color: #4d525d;
	font-family: Cambria, Georgia, serif;
	font-style: italic;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.9);
}
/* Header Style */
.codrops-top{
	line-height: 24px;
	font-size: 11px;
	background: #fff;
	background: rgba(255, 255, 255, 0.6);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	font-family: Cambria, Georgia, serif;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}
.codrops-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	display: inline-block;
}
.codrops-top a:hover{
	background: rgba(255,255,255,0.3);
}
.codrops-top span.right{
	float: right;
}
.codrops-top span.right a{
	float: left;
	display: block;
}
/* Demo Buttons Style */
.codrops-demos{
    text-align:center;
	display: block;
	line-height: 30px;
	padding: 5px 0px;
}
.codrops-demos a{
    display: inline-block;
	margin: 0px 4px;
	padding: 0px 6px;
	color: #aaa;
	line-height: 20px;	
	font-size: 13px;
	text-shadow: 1px 1px 1px #fff;
	border: 1px solid #fff;
	background: #f6f6f6; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
.codrops-demos a:hover{
	color: #333;
}
.codrops-demos a:active{
	background: #fff;
}
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover{
	background: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.note{
	padding: 20px;
	text-align: center;
}

.sp-slideshow {
	position: relative;
	width: 80em;
	max-width: 1280px;
	min-width: 100px;
	height: 420px;
	}

.sp-content {
	scroll: 0 0;
	position: relative;
	width: 80em;
	height: 420px;
	overflow: hidden;
}

.sp-parallax-bg {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 80em;
	height: 420px;
	overflow: hidden;
	background-attachment: scroll;
	background-repeat: repeat-x;
	background-position: 0 0;
}

.sp-slideshow input {
	position: absolute;
	z-index: 1001;
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

.sp-slideshow input + label {
	position: absolute;
	bottom: 15px;
	left: 50%;
	display: block;
	z-index: 1000;
	border: 3px solid #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: background-color linear 0.1s;
	-moz-transition: background-color linear 0.1s;
	-o-transition: background-color linear 0.1s;
	-ms-transition: background-color linear 0.1s;
	transition: background-color linear 0.1s;
}
.sp-slideshow input:checked + label {
	background-color: #fff;
    background-color: rgba(255,255,255,0.9);
}

.sp-selector-1, .button-label-1 {
    margin-left: -36px;
}

.sp-selector-2, .button-label-2 {
    margin-left: -18px;
}

.sp-selector-4, .button-label-4 {
    margin-left: 18px;
}

.sp-selector-5, .button-label-5 {
    margin-left: 36px;
}

.sp-arrow {
    position: absolute;
	top: 50%;
	width: 28px;
	height: 38px;
	margin-top: -19px;
	display: none;
	opacity: 0.8;
	cursor: pointer;
	z-index: 1000;
	background: transparent url(../imagenes/slide/images/arrows.png) no-repeat;
	-webkit-transition: opacity linear 0.3s;
    -moz-transition: opacity linear 0.3s;
    -o-transition: opacity linear 0.3s;
    -ms-transition: opacity linear 0.3s;
    transition: opacity linear 0.3s;
}
.sp-arrow:hover{
	opacity: 1;
}
.sp-arrow:active{
	margin-top: -18px;
}
.sp-selector-1:checked ~ .sp-arrow.sp-a2,
.sp-selector-2:checked ~ .sp-arrow.sp-a3,
.sp-selector-3:checked ~ .sp-arrow.sp-a4,
.sp-selector-4:checked ~ .sp-arrow.sp-a5 {
    right: 15px;
	display: block;
	background-position: top right;
}
.sp-selector-2:checked ~ .sp-arrow.sp-a1,
.sp-selector-3:checked ~ .sp-arrow.sp-a2,
.sp-selector-4:checked ~ .sp-arrow.sp-a3,
.sp-selector-5:checked ~ .sp-arrow.sp-a4 {
    left: 15px;
	display: block;
	background-position: top left;
}

.sp-slideshow input:checked ~ .sp-content {
    -webkit-transition: background-position linear 0.6s, background-color linear 0.8s;
    -moz-transition: background-position linear 0.6s, background-color linear 0.8s;
    -o-transition: background-position linear 0.6s, background-color linear 0.8s;
    -ms-transition: background-position linear 0.6s, background-color linear 0.8s;
    transition: background-position linear 0.6s, background-color linear 0.8s;
}

.sp-slideshow input:checked ~ .sp-content .sp-parallax-bg {
    -webkit-transition: background-position linear 0.7s;
    -moz-transition: background-position linear 0.7s;
    -o-transition: background-position linear 0.7s;
    -ms-transition: background-position linear 0.7s;
    transition: background-position linear 0.7s;
}

input.sp-selector-1:checked ~ .sp-content {
	background-position: 0 0;
	background-image: url(../imagenes/slide/images/bg.png);
}

input.sp-selector-2:checked ~ .sp-content {
	background-position: -100px 0;
	background-image: url(../imagenes/slide/images/bg.png);
}

input.sp-selector-3:checked ~ .sp-content {
	background-position: -200px 0;
	background-image: url(../imagenes/slide/images/bg.png);
}

input.sp-selector-4:checked ~ .sp-content {
	background-position: -300px 0;
	background-image: url(../imagenes/slide/images/bg.png);
}

input.sp-selector-5:checked ~ .sp-content {
	background-position: -400px 0;
	background-image: url(../imagenes/slide/images/bg.png);
}

input.sp-selector-1:checked ~ .sp-content .sp-parallax-bg {
    background-position: 0 0;
}

input.sp-selector-2:checked ~ .sp-content .sp-parallax-bg {
    background-position: -200px 0;
}

input.sp-selector-3:checked ~ .sp-content .sp-parallax-bg {
    background-position: -400px 0;
}

input.sp-selector-4:checked ~ .sp-content .sp-parallax-bg {
    background-position: -600px 0;
}

input.sp-selector-5:checked ~ .sp-content .sp-parallax-bg {
    background-position: -800px 0;
}

.sp-slider {
    position: relative;
	left: 0;
    width: 500%;
	height: 100%;
	list-style: none;
    margin: 0;
	padding: 0;
    -webkit-transition: left ease-in 0.8s;
    -moz-transition: left ease-in 0.8s;
    -o-transition: left ease-in 0.8s;
    -ms-transition: left ease-in 0.8s;
    transition: left ease-in 0.8s; 
}

.sp-slider > li {
	color: #fff;
	width: 20%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	float: left;
	text-align: center;
	opacity: 0.4;
	-webkit-transition: opacity ease-in 0.4s 0.8s;
	-moz-transition: opacity ease-in 0.4s 0.8s;
	-o-transition: opacity ease-in 0.4s 0.8s;
	-ms-transition: opacity ease-in 0.4s 0.8s;
	transition: opacity ease-in 0.4s 0.8s;
	padding-top: 0;
	padding-bottom: 0;
}
.sp-slider > li img{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	max-height: 449px;
	max-width: 80em;
	margin-top: 0;
	margin-bottom: 0;
	padding-right: 0;
	padding-left: 0;
}
input.sp-selector-1:checked ~ .sp-content .sp-slider {
    left: 0;
}

input.sp-selector-2:checked ~ .sp-content .sp-slider {
    left: -100%;
}

input.sp-selector-3:checked ~ .sp-content .sp-slider {
    left: -200%;
}

input.sp-selector-4:checked ~ .sp-content .sp-slider {
    left: -300%;
}

input.sp-selector-5:checked ~ .sp-content .sp-slider {
    left: -400%;
}

input.sp-selector-1:checked ~ .sp-content .sp-slider > li:first-child,
input.sp-selector-2:checked ~ .sp-content .sp-slider > li:nth-child(2),
input.sp-selector-3:checked ~ .sp-content .sp-slider > li:nth-child(3),
input.sp-selector-4:checked ~ .sp-content .sp-slider > li:nth-child(4),
input.sp-selector-5:checked ~ .sp-content .sp-slider > li:nth-child(5){
	opacity: 1;
}
@media screen and (max-width: 80em){
	.sp-slideshow { height: 420px; }
}
@media screen and (max-width: 80em){
	.sp-slideshow { height: 420px; }
}
@media screen and (max-width: 80em){
	.sp-slideshow { height: 420px; }
}
@media screen and (max-width: 80em){
	.sp-slideshow { height: 420px; }
}
